body{
    background-color: aquamarine;
}
#background{
    width: 1000px;
    height: 1000px;
    background-color: purple;
    display: flex;
}
#shark{
    width: 500px;
    height: 900px;
}
#cow{
    width: 500px;
    height: 500px;
}